[org/gnome/shell]
disable-user-extensions=false
enable-hot-corners=true
enabled-extensions=['user-theme@gnome-shell-extensions.gcampax.github.com', 'apps-menu@gnome-shell-extensions.gcampax.github.com', 'places-menu@gnome-shell-extensions.gcampax.github.com', 'ubuntu-dock@ubuntu.com']
